.containermain {
    max-width: 1400px;
    padding: 0 15px;
    margin: auto;
}

.container1 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    text-align: center;
    margin: auto;
    margin-top: 108px;
}

.container2 {
    text-align: center;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid orange;
    margin-top: 30px;
}

.container3 {
    color: gray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    margin: auto;
    margin-top: 33px;
}

.container4 {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    margin-top: 83px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    text-align: center;
}

.elem {
    width: 27%;
    padding: 10px;
}

.secelem {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    margin: auto;
    margin-top: 34px;
    font-weight: 700;
}

.thirdelem {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 11px;
    text-align: center;
    margin: auto;
    margin-top: 33px;
}

.container5 {
    background-color: #f5f5f5;
    margin-top: 106px;
}

.container6 {
    font-size: 26px;
    text-align: center;
    margin: auto;
    margin-top: 108px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: bottom;
    flex-direction: row;
    text-align: center;
}

.elem2 {
    width: 343px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.secelem2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    margin: auto;
    font-weight: 700;
    margin-top: 1px;
    background-color: #333333;
    color: white;
}

.height59 {
    height: 59px;
}

.height100 {
    height: 100px;
}

.height50 {
    height: 50px;
}