.registration {
    height: 363px;
    width: 360px;
    background-color: white;
    border-radius: 5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.registration-top {
    height: 54px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 13px;
    width: 360px;
    border-radius: 5px;
    font: 20px "Open Sans", sans-serif;
}

.width33 {
    width: 33%;
}

.width66 {
    width: 66%;
}

.orangeFREE {
    color: #ff9b51;
    display: inline;
}

.nomargin {
    margin: 0px;
}

.maxwidth400 {
    max-width: 400px;
}

.registration-bottom {
    height: 54px;
    background-color: #ff9b51;
    text-align: center;
    margin-top: 75px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.registration-bottom button {
    height: 54px;
    width: 360px;
    border: none;
}

.registration-bottom button:hover {
    background-color: #ff9b51;
}

input[class=""] {
    width: 285px;
    border-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d6d6d6;
}


/*
.emailenter {
    width: 285px;
}
*/

input[type="text"]:focus {
    outline: none;
}

input[type="email"]:focus {
    outline: none;
}

input[type="password"]:focus {
    outline: none;
}

.elem-header-top-part button {
    width: 100px;
    border: none;
    margin-top: 10px;
    background-color: transparent;
    font: 14px 'Open Sans', sans-serif;
    color: #9a9a9a;
    cursor: pointer;
}

.media {
    /* height: 105px;*/
    width: 100%;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

.media-container {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: start;
    flex-direction: row;
}

.media-mainpart {
    max-width: 50%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

.media-mainpart .elem-part {
    text-align: center;
    display: inline;
    margin: auto;
}

.elem-part i {
    width: 16%;
    margin: auto;
    color: grey;
    text-align: center;
    letter-spacing: 10px;
    padding: 15px 15px 15px;
}

.elem-part h3 {
    font: 400 22px 'Open Sans ', sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

.elem-part p {
    font: 14px 'Open Sans ', sans-serif;
    color: #86878b;
    text-align: left;
}

.elem-part .fa-google:before {
    content: "\f1a0";
    font-size: 50px;
}

.elem-part .fa-facebook-f:before {
    content: "\f39e";
    font-size: 50px;
}

.elem-part .fa-instagram:before {
    content: "\f16d";
    font-size: 50px;
}

.elem-part .fa-wifi:before {
    content: "\f1eb";
    font-size: 50px;
}

.elem-part .fa-twitter:before {
    content: "\f099";
    font-size: 50px;
}

.elem-part .fa-pinterest:before {
    content: "\f0d2";
    font-size: 50px;
}